<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--TODO set relative path-->
		<add key="path" value="C:\Users\mrodriguez\Documents\MS-AcademyDotNet\MS-AcademyDotNet\RentACar\Data\Cars.json"/>
		<add key="jsonFileCars" value="..\..\..\Data\Cars.json"/>
	</appSettings>
</configuration>